<!DOCTYPE html>
<html lang="en">
<head>
    <title>İş-Match</title>
    <meta charset="utf-8">
    <meta name="description" content="A minimal and responsive HTML5 landing page built on lightweight, clean and customizable code.">
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon-precomposed" href="~/opalin/uiuxassets-opalin-html-template/HTML/build/media/favicon.png">
    <link rel="icon" href="~/opalin/uiuxassets-opalin-html-template/HTML/build/media/favicon.png">
    <link rel="mask-icon" href="~/opalin/uiuxassets-opalin-html-template/HTML/build/media/favicon.svg" color="rgb(36,38,58)">
    <link rel="shortcut icon" href="~/opalin/uiuxassets-opalin-html-template/HTML/build/media/favicon.png">
    <link rel="stylesheet" href="~/opalin/uiuxassets-opalin-html-template/HTML/build/css/main.css">
</head>
<body>


    <nav class="header-main dark" style="background-color: #110f24; height:65px">

        <div class="nav-toggle"> </div>
        <a href="/Home/Index" class="logo" style="line-height:4rem; rel="home"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><path d="M7.335 1.023l2.462.434a1 1 0 0 1 .811 1.159L8.004 17.388a2 2 0 0 1-2.317 1.622l-3.94-.694a1 1 0 0 1-.81-1.159L3.28 3.862a3.5 3.5 0 0 1 4.054-2.839zm7.039 3.272l7.878 1.39a1 1 0 0 1 .812 1.158l-1.997 11.325a5.5 5.5 0 0 1-6.372 4.461l-4.431-.78a1 1 0 0 1-.812-1.16l2.605-14.771a2 2 0 0 1 2.317-1.623z" fill="currentColor" /></svg><span>İŞ-MATCH</span></a>
        <div class="nav-toggle"></div>
        <ul class="inline" style="line-height:4rem;">
            <li><a href="/AnaSayfa/Index" class="active">Anasayfa</a></li>
            <li><a href="/Iletisim/Index" class="active">İletişim</a></li>
            <li><a href="/Hakkinda/Index">Hakkımızda</a></li>

        </ul>



    </nav>

    <div class="container body-content">
        <br />

        @RenderBody()
        <hr />

     
    </div>
</body>
</html>